input[type='text']{
    padding: 5px;
    border: 1px rgb(132, 131, 131) solid;
    border-radius: 3px;
}

input[type='text']:focus, input[type='text']:active{
    padding: 5px;
    border: 1px rgb(81, 81, 81) solid !important;
    border-radius: 3px;
}

input[type='text']:focus-visible{
    padding: 5px;
    border: 1px #043dc25d solid !important;
    border-radius: 3px;
    outline: none !important;
}