<router-outlet />
<div>
  <button class="btn">Button</button>
  <input type="text" name="" id="">
</div>

<div class="modal">
  <div class="modal-title">
    title
  </div>
  <div class="modal-content">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, vero. Enim, obcaecati eligendi aspernatur cumque perspiciatis culpa possimus nulla adipisci dolores necessitatibus illo, accusantium quaerat, ad tempore fugiat sapiente sit?
  </div>
  <div class="modal-footer">
  <button type="submit">Submit</button>
  </div>
</div>
